ScadaCore/AlarmDisplay/Connected Services/ServiceReference1/ScadaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ioAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="alarmId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="limit" type="xs:double" />
      <xs:element minOccurs="0" name="priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tagValue" type="xs:double" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="type" type="tns:TypeOfAlarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:simpleType name="TypeOfAlarm">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOW" />
      <xs:enumeration value="HIGH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TypeOfAlarm" nillable="true" type="tns:TypeOfAlarm" />
</xs:schema>